# .NET Core build outputs
bin/
obj/

.env

%USERPROFILE%.rnd
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
# NuGet restore
.nuget/
packages/
# Dotnet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.log
*.vs/
*.DS_Store
*.idea/
*.swp
*.tmp

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Windows image file caches
Thumbs.db
ehthumbs.db

# Rider
.idea/
*.sln.iml